<h2>Tickets Table</h2>

<table class="table table-striped table-dark" style="width:100%">
  <tr>
    <th>nome</th>
    <th>cognome</th>
    <th>email</th>
    <th>issue</th>
    <th>Options</th>

  </tr>
  <tr>
    <td>Alfreds</td>
    <td>Futterkiste</td>
    <td>germany@gmail.com</td>
    <td>biliardo online error 404</td>
    <td>
      <div class="dls-menu-item" style="float: left;">
      <button (click)="onPress()">Read ticket</button>
      </div>
     </td>
    <!--<a routerLink="/ticketRead" routerLinkActive="active" ariaCurrentWhenActive="page" id="selected">Read Ticket</a>-->
  </tr>
  <tr>
    <td>Moctezuma</td>
    <td>Chang</td>
    <td>exico@gmail.com</td>
    <td>schacchi online server down</td>
    <td>
      <div class="dls-menu-item" style="float: left;">
      <button (click)="onPress()">Read ticket</button>
      </div>
     </td>
  </tr>
</table>


<div id="comp-render" *ngIf="display">
  <app-ticket-read></app-ticket-read>
</div>
